@model VilaZen_Web.Models.Dto.VillaUpdateDto;


<form asp-action="AtualizarVilla">
    <br />
    <div class="container border p-">
        <h1 class="text-primary">Atualizar Villa</h1>
        <hr />

        <input hidden asp-for="Id"/>
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-2">
                <label asp-for="Nome" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pt-3">
                <input asp-for="Nome" class="form-control">
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="Preco" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pt-3">
                <input asp-for="Preco" class="form-control" />
                <span asp-validation-for="Preco" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="Ocupacao" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pt-3">
                <input asp-for="Ocupacao" class="form-control" />
            </div>

            <div class="col-2">
                <label asp-for="Sqft" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pt-3">
                <input asp-for="Sqft" class="form-control" />
            </div>

            <div class="col-2">
                <label asp-for="ImageUrl" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pt-3">
                <input asp-for="ImageUrl" class="form-control" />
            </div>

            <div class="col-2">
                <label asp-for="Cortesia" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pt-3">
                <input asp-for="Cortesia" class="form-control" />
            </div>

            <div class="col-2">
                <label asp-for="Detalhes" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10  pt-3" style="margin-bottom: 20px;">
                <textarea asp-for="Detalhes" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Detalhes" class="text-danger"></span>
            </div>



            <div class="col-5 offset-2">
                <a asp-action="IndexVilla" asp-controller="Villa" class="btn btn-primary btn form-control">Voltar</a>
            </div>

            <div class="col-5" style="margin-bottom: 20px;">
                <input type="submit" value="Atualizar" class="btn btn-success form-control" />
            </div>


        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
